<!--
.text    { font-family: Trebuchet MS; font-size: 11px; color: #363D44; margin-left:20; margin-top:10; margin-right:10; margin-bottom:10  }
.text2    { font-family: Trebuchet MS; font-size: 11px; color: #000000; margin-left:20; margin-top:5; margin-bottom:10; margin-right:20 }
.linx {    font-family: Verdana; font-size: 12px; text-decoration:none; margin-right:10; }
a:link { color: #FFFFFF; text-decoration: none}
a:hover { color: #81B63D; text-decoration: none}
a:visited { color: #FFFFFF; text-decoration: none} 
-->