{% include "header.html" %}
       <div id="main_container">
            <table id="layout_table">
                <tr>
                    <td colspan="1" id="sub_nav_column" rowspan="1">
                        <div id="left_column_container">
                        <div class="sub_nav_container">
                        <ul class="sub_nav_list" id="sub_nav_list1">
                            <li><a class="sub_nav_item" href="economic_news.html" id="sni2" shape="rect">Экономические Новости</a></li>
                            <li><a class="sub_nav_item" href="kurs.html" id="sni2" shape="rect">Курсы валют</a></li>
                            <li><a class="sub_nav_item" href="lib.html" id="sni2" shape="rect">Библиотека</a></li>
                        </ul>
                         </div>
                         <div id="sub_container1"></div>
                         </div>
                    </td>
                    <td colspan="1" id="content_column" rowspan="1">
                        <div id="sub_container2">
                        <div class="content" id="content_container">
                        <h3><img border="0" width="200px" height="269px" align="right" src="images/paper_news.jpg">
                        Экономические новости
                        </h3>
                        <p>
                        <!--  FOREXPF.RU - ADR start -->
                          <table class="forexpf_" border="1" style="border-collapse: collapse; text-align:center; font-size:10px; color:#000000;">
                          <tr><td colspan="3"><a href="">Котировки акций</a></td></tr> <!-- http://www.forexpf.ru/quote_show.php -->
                          <tr bgcolor="#F6EDDD"><td>adr</td><td>bid</td><td>ask</td></tr>
                          <tr><td><a href="http://www.forexpf.ru/chart/gaz/">Газпром</a></td><td id="adrgazb">0.00</td><td id="adrgaza">0.00</td></tr>
                          <tr bgcolor="#F6EDDD"><td><a href="http://www.forexpf.ru/chart/gmk/">ГМК</a></td><td id="adrgmkb">0.00</td><td id="adrgmka">0.00</td></tr>
                          <tr><td><a href="http://www.forexpf.ru/chart/luk/">Лукойл</a></td><td id="adrlukb">0.00</td><td id="adrluka">0.00</td></tr>
                          <tr bgcolor="#F6EDDD"><td><a href="http://www.forexpf.ru/chart/ros/">Роснефть</a></td><td id="adrrosb">0.00</td><td id="adrrosa">0.00</td></tr>
                          <tr><td><a href="http://www.forexpf.ru/chart/rtk/">Ростелеком</a></td><td id="adrrtkb">0.00</td><td id="adrrtka">0.00</td></tr>
                          <tr bgcolor="#F6EDDD"><td><a href="http://www.forexpf.ru/chart/sng/">Сургутнефтегаз</a></td><td id="adrsngb">0.00</td><td id="adrsnga">0.00</td></tr>
                          <tr><td><a href="http://www.forexpf.ru/chart/tat/">Татнефть</a></td><td id="adrtatb">0.00</td><td id="adrtata">0.00</td></tr>
                          <tr bgcolor="#F6EDDD"><td><a href="http://www.forexpf.ru/chart/vtb/">ВТБ</a></td><td id="adrvtbb">0.00</td><td id="adrvtba">0.00</td></tr>
                          <tr><td colspan="3" id="adrtm">Данный на 00:00 МСК</td></tr>
                          </table><script type="text/javascript" src="http://forexpf.ru/_informer_/adr.php?id=01234567"></script>
                          <!--  FOREXPF.RU -ADR end -->

                        </p>
                        </div>
                        </div>
                    </td>
                    </tr>
                    </table>
       </div>
{% include "footer.html" %}

