
<!DOCTYPE html
  PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html40/strict.dtd">
{% include "header.html" %}
       <div id="main_container">
            <table id="layout_table">
                <tr>
                    <td colspan="1" id="sub_nav_column" rowspan="1">
                        <div id="left_column_container">
                        <div class="sub_nav_container">
                        <ul class="sub_nav_list" id="sub_nav_list1">
                            <li><a class="sub_nav_item" href="economic_news.html" id="sni2" shape="rect">Экономические Новости</a></li>
                            <li><a class="sub_nav_item" href="kurs.html" id="sni2" shape="rect">Курсы валют</a></li>
                            <li><a class="sub_nav_item" href="lib.html" id="sni2" shape="rect">Библиотека</a></li>
                        </ul>
                         </div>
                         <div id="sub_container1"></div>
                         </div>
                    </td>
                    <td colspan="1" id="content_column" rowspan="1">
                        <div id="sub_container2">
                        <div class="content" id="content_container">
                        <h3><img border="0" hspace="20" vspace="20" align="right" src="images/pic1.jpg">
                        Фирма Промзачет
                        </h3>
                            <p><strong>Оказывает услуги </strong>:
                             <br> по погашению долгов между предприятиями, организациями, частными предпринимателями<br><br>
                             Если у Вас <strong>есть долги</strong>: <br>
                             то через данный сайт можно их уменьшить и даже полностью ликвидировать!<br><br>
                             Все просто:<strong><a href="anketa.html">Заполните анкету</a></strong>: <br>
                             укажите Ваши обязательства.По оставленным Вами контактным данным с Вами свяжутся и помогут решить проблему
                            </p>
                        </div>
                        </div>
                    </td>
                    </tr>
                    </table>
       </div>
{% include "footer.html" %}

