{% include "header.html" %}
       <div id="main_container">
            <table id="layout_table">
                <tr>
                    <td colspan="1" id="sub_nav_column" rowspan="1">
                        <div id="left_column_container">
                        <div class="sub_nav_container">
                        <ul class="sub_nav_list" id="sub_nav_list1">
                            <li><a class="sub_nav_item" href="economic_news.html" id="sni2" shape="rect">Экономические Новости</a></li>
                            <li><a class="sub_nav_item" href="kurs.html" id="sni2" shape="rect">Курсы валют</a></li>
                            <li><a class="sub_nav_item" href="lib.html" id="sni2" shape="rect">Библиотека</a></li>
                        </ul>
                         </div>
                         <div id="sub_container1"></div>
                         </div>
                    </td>
                    <td colspan="1" id="content_column" rowspan="1">
                        <div id="sub_container2">
                        <div class="content" id="content_container">
                        <h3><img border="0" hspace="20" vspace="20" align="right" src="images/pic1.jpg">
                        Библиотека экономической литературы
                        </h3>
                            <p><strong>Книги </strong>:
                            </p>
                        </div>
                        </div>
                    </td>
                    </tr>
                    </table>
       </div>
{% include "footer.html" %}    

